<%-include("header") %>
   <style>
.box3{
    width: 100%;
height: 90vh;
display: flex;
} 

.b3left{
    width: 65%;
    height: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.b3left>h1{
    margin-left: -28vmax;
    font: 900 3vmax "gilroy";
    margin-top: 50px;
}
.b3right{
    width: 35%;
    height: inherit;
    border-left: .1px solid rgba(0, 0, 0, 0.093);
    padding-left: 40px;
}
.b3right>h1{
    font: 900 1vmax "gilroy";
    margin-top: 50px;
    margin-bottom: 30px;
}
.b3right>h2{
    font: 100 .9vmax "gilroy";
    margin-top: 20px;
}
.b3last{
    display: flex;
    list-style: none;
    margin-top: 24vmax;
}
.b3last>li{
    margin-right: 8px;
    font: 100 .7vmax "gilroy";
    color: grey;
}
.b3top{
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
    list-style: none;
    border-bottom: .1px solid rgba(0, 0, 0, 0.383);
    padding-bottom: 20px;
} 
.b3top>li{
font: 400 .9vmax "gilroy";
color: rgba(128, 128, 128);
cursor: pointer;
transition: 1s all ease-in-out;
}  
.b3top>li:hover{
color:black;
} 
.form{
    width: 100%;
}   
.email,.username,.name,.info label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 8vh;
    margin-left: 14vmax;
    cursor: pointer;
}
.email>h1,.username>h1,.name>h1,.info span{
    font: 400 1vmax "gilroy";  
}
.info span small{
    font: 400 .7vmax "gilroy";  
    color: grey;
}
.info label div{
   position: absolute;
   left: 43.5%;
}
.info>button{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 210px;
    padding: 10px 30px;
    color: white;
    background-color: black;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
}
.btns{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.de,.re{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 220px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font: 400 1vmax "gilroy";  
}
.de>span,.re>span{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0px;
    cursor: pointer;
    text-decoration: none;
    color:grey;
    font: 400 .7vmax "gilroy";  
}
.email>input,.username>input,.name>input{
    outline: none;  
    border: none;
    background-color: none;
}
.username>input{
    outline: none;  
    border: none;
    background-color: none;
    margin-left: 1vmax;
}
.name>input{
    outline: none;  
    border: none;
    background-color: none;
    margin-left: 3vmax;
}

    </style>
  <%-include("loginnav")%>

<div class="box3">
      
      <div class="b3left">
            <h1>Settings</h1>

          <div class="b3top">
           <li>Account</li>
           <li>Publishing</li>
           <li>Following</li>
           <li>Web development</li>
           <li>Technology</li>
           <li>Programming</li>
          </div>



          <form action="/settings" class="form" method="post">
 
                <div class="email">
                <h1>Email Adress</h1>
                <input name="email" type="email" value="<%= user.email%>" /><br />
            </div>
            <div class="username">
               <h1>Username</h1>
                <input name="username" type="text" value="<%= user.username%>" /><br />
            </div>
            <div class="name">
              <h1>Name</h1>
                <input name="name" type="text" value="<%= user.name%>" /><br />
            </div>
            <div class="info">
                <a style="text-decoration: none; color: black" href="/profile">
                    <label
                        style="
                            width: 20%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        "
                    >
                        <span>
                            Profile Information <br />
                            <small>Edit Bio, about, avatar</small>
                        </span>
                        <div
                            style="
                                width: 50px;
                                height: 50px;
                                background-size: cover;
                                border-radius: 50%;
                                background-position: center;
                                background-image: url('/uploads/<%= user.avatar %>');
                            "
                        ></div>
                    </label>
                </a>
                <button>Save Information</button>
            </div>
        <div class="btns">
            <a class="de" href="/delete">Delete User <br> <span>Permanently delete your account and all of your content.</span></a>
            <a class="de" href="/reset">Reset password <br> <span>Reset your account password here.</span></a>
        </div>
        </form>    
    </div>
        <div class="b3right">
    <h1>Suggested help articles    </h1>
    <h2> Sign in or sign up to Medium</h2>
    <h2>Your profile page</h2>
    <h2>Writing and publishing your first story</h2>
    <h2>About Medium's distribution system</h2>
    <h2>Get started with the Partner Program</h2>
    <div class="b3last">
        <li>Home</li>
        <li>Status</li>
        <li>Writers</li>
        <li>Blog</li>
        <li>Carreers</li>
        <li>Privacy</li>
        <li>Terms</li>
        <li>About</li>
        <br>
        <li>Text to speech</li>
    </div>
        </div>
       </div>

















    </div>
    <script>
        var popup = document.querySelector(".popup")
        var cross = document.querySelector(".cross")
        var u = document.querySelector(".u")

        u.addEventListener("click", function () {
            popup.style.display = "initial"
        })

        cross.addEventListener("click", function () {
            popup.style.display = "none"
        })
    </script>
    <%-include("footer") %>